:root {
    --mt: 1;
}

.char-name {
    text-shadow:
      3px -1px 0 #000,
      -3px 1px 0 #000;
    -webkit-text-stroke: 1px black;
    font-family: 'MyFont';
    font-size: 30px;

    color: whitesmoke;

    position: relative;
    left: 3%;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.char-name span {
    margin-left: 0.8%;
}


.space {
    margin-left: 1.2%;
    margin-right: 1.2%;
}

.w0 {
    margin-top: calc(19px * var(--mt));
    transform: rotate(-6.25rad);
}

.w1 {
    margin-top: calc(19px * var(--mt));
    transform: rotate(-6.3rad);
}

.w2 {
    margin-top: calc(18px * var(--mt));
    transform: rotate(-6.41rad);
}

.w3 {
    margin-top: calc(15px * var(--mt));
    transform: rotate(-6.44rad);
}

.w4 {
    margin-top: calc(12px * var(--mt));
    transform: rotate(-6.5rad);
}

.w5 {
    margin-top: calc(8px * var(--mt));
    transform: rotate(-6.42rad);
}

.w6 {
    margin-top: calc(5px * var(--mt));
    transform: rotate(-6.38rad);
}

.w7 {
    margin-top: calc(2px * var(--mt));
    transform: rotate(-6.35rad);
}

.w8 {
    margin-top: calc(0px * var(--mt));
    transform: rotate(-6.32rad);
}

.w9 {
    margin-top: calc(0px * var(--mt));
    transform: rotate(-6.25rad);
}

.w10 {
    margin-top: calc(2px * var(--mt));
    transform: rotate(-6.2rad);
}

.w11 {
    margin-top: calc(2px * var(--mt));
    transform: rotate(-6.08rad);
}

.w12 {
    margin-top: calc(4px * var(--mt));
    transform: rotate(-6.0rad);
}

.w13 {
    margin-top: calc(12px * var(--mt));
    transform: rotate(-5.83rad);
}

/* .w14 {
    transform: rotate(-5.77rad);
}

.w15 {
    transform: rotate(-5.71rad);
}

.w16 {
    transform: rotate(-5.63rad);
}  */

/* #warped {
    position: relative;
    display: block;
    width: 769px;
    height: 440px;
    top: 140px;
    left: -165px;

}

#warped>span[class^=w]:nth-of-type(n+0) {
    display: block;
    position: absolute;
    transform-origin: 50% 100%;
}

#warped span {
    font-family: 'MyFont';
    font-size: 30px;
    font-weight: regular;
    font-style: normal;
    line-height: 1.5;
    white-space: pre;
    overflow: visible;
    padding: 0px;
}

#warped .w0 {
    transform: rotate(-6.35rad);
    width: 21px;
    height: 45px;
    left: 227.91px;
    top: 129.97px;
}

#warped .w1 {
    transform: rotate(-6.38rad);
    width: 16px;
    height: 45px;
    left: 250.46px;
    top: 128.5px;
}

#warped .w2 {
    transform: rotate(-6.41rad);
    width: 10px;
    height: 45px;
    left: 268.49px;
    top: 126.92px;
}

#warped .w3 {
    transform: rotate(-6.44rad);
    width: 10px;
    height: 45px;
    left: 280.34px;
    top: 125.28px;
}

#warped .w4 {
    transform: rotate(-6.49rad);
    width: 18px;
    height: 45px;
    left: 292.12px;
    top: 122.43px;
}

#warped .w5 {
    transform: rotate(-6.54rad);
    width: 9px;
    height: 45px;
    left: 311.64px;
    top: 118.93px;
}

#warped .w6 {
    transform: rotate(-6.54rad);
    width: 19px;
    height: 45px;
    left: 322.16px;
    top: 114.87px;
}

#warped .w7 {
    transform: rotate(-6.47rad);
    width: 16px;
    height: 45px;
    left: 342.7px;
    top: 110.58px;
}

#warped .w8 {
    transform: rotate(-6.38rad);
    width: 10px;
    height: 45px;
    left: 360.93px;
    top: 108.1px;
}

#warped .w9 {
    transform: rotate(-6.29rad);
    width: 25px;
    height: 45px;
    left: 372.79px;
    top: 107.32px;
}

#warped .w10 {
    transform: rotate(-6.23rad);
    width: 16px;
    height: 45px;
    left: 399.92px;
    top: 107.96px;
}

#warped .w11 {
    transform: rotate(-6.18rad);
    width: 9px;
    height: 45px;
    left: 417.91px;
    top: 109.17px;
}

#warped .w12 {
    transform: rotate(-6.08rad);
    width: 19px;
    height: 45px;
    left: 428.59px;
    top: 111.55px;
}

#warped .w13 {
    transform: rotate(-5.83rad);
    width: 18px;
    height: 45px;
    left: 448.23px;
    top: 118.97px;
}

#warped .w14 {
    transform: rotate(-5.77rad);
    width: 9px;
    height: 45px;
    left: 466.57px;
    top: 126.33px;
}

#warped .w15 {
    transform: rotate(-5.71rad);
    width: 19px;
    height: 45px;
    left: 475.18px;
    top: 134.65px;
}

#warped .w16 {
    transform: rotate(-5.63rad);
    width: 16px;
    height: 45px;
    left: 492.6px;
    top: 145.95px;
} */


